name: build

on:
    pull_request:
    push:
        branches:
            - master
        tags:
          - '*'

# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
# Only cancels-in-progress on PRs (head_ref only defined in PR, fallback run_id always unique)
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macos-11, windows-2022 ]
        python-version: [ 3.8, 3.9, "3.10", "3.11" ]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,anaconda
      - name: Install
        # scipy and numpy versions are chosen to match cvxpy
        run: |
          if [[ "$PYTHON_VERSION" == "3.8" ]]; then
            conda install scipy=1.5 numpy=1.17 mkl scs pytest pip
          elif [[ "$PYTHON_VERSION" == "3.9" ]]; then
            conda install scipy=1.5 numpy=1.19 mkl scs pytest pip
          elif [[ "$PYTHON_VERSION" == "3.10" ]]; then
            conda install scipy=1.7 numpy=1.21 mkl scs pytest pip
          elif [[ "$PYTHON_VERSION" == "3.11" ]]; then
            conda install scipy=1.9.3 numpy=1.23.4 mkl scs pytest pip
          fi
          pip install cvxpy
          python -m pip install .

      - name: Test
        run: |
          pytest
          rm -rf build/

  build_wheels:
    needs: build
    if: ${{github.event_name == 'push'}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macos-11, windows-2022 ]
        python-version: [ 3.7, 3.9, "3.10", "3.11" ]
        include:
          - os: ubuntu-20.04
            python-version: 3.8
            single_action_config: "True"
          - os: macos-11
            python-version: 3.8
          - os: windows-2019
            python-version: 3.8

    env:
      RUNNER_OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}
      SINGLE_ACTION_CONFIG: "${{ matrix.single_action_config == 'True' }}"
      PYPI_SERVER: ${{ secrets.PYPI_SERVER }}
      PYPI_USER: ${{ secrets.PYPI_USER }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

    steps:

      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set Additional Envs
        shell: bash
        run: |
          echo "PYTHON_SUBVERSION=$(echo $PYTHON_VERSION | cut -c 3-)" >> $GITHUB_ENV
          echo "DEPLOY_PYPI_SOURCE=$( [[ $PYTHON_VERSION == 3.8 && $RUNNER_OS == 'macOS' ]] && echo 'True' || echo 'False' )" >> $GITHUB_ENV
          echo "DEPLOY=$( [[ $GITHUB_EVENT_NAME == 'push' && $GITHUB_REF == 'refs/tags'* ]] && echo 'True' || echo 'False' )" >> $GITHUB_ENV

      - name: Build wheels
        env:
          CIBW_BUILD: "cp3${{env.PYTHON_SUBVERSION}}-*"
          CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux*"
          CIBW_ARCHS_MACOS: x86_64 universal2
          CIBW_ARCHS_LINUX: auto aarch64
        uses: pypa/cibuildwheel@v2.16.2

      - name: Build source
        if: ${{env.DEPLOY_PYPI_SOURCE == 'True'}}
        run: |
          python setup.py sdist --dist-dir=wheelhouse

      - name: Check wheels
        shell: bash
        run: |
          python -m pip install --upgrade twine
          twine check wheelhouse/*

      - name: Release to pypi
        if: ${{env.DEPLOY == 'True'}}
        shell: bash
        run: |
          twine upload --skip-existing --repository-url $PYPI_SERVER wheelhouse/* -u $PYPI_USER -p $PYPI_PASSWORD

      - name: Upload artifacts to github
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse
